@using HotelManagement.Web.Models.ViewModels;
@model List<RoomStatusViewModel>

@{
    ViewBag.Title = "Room Statuses";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

@* <a asp-controller="RoomStatus" class="btn button-primary"
   asp-action="AddRoomStatus">Add New Room Status</a> *@

<table class="table table-striped">
    <thead>
        <tr>
            <th>Guest Name</th>
            <th>Room Type</th>
            <th>Room Id</th>
            <th>Check In</th>
            <th>Check Out</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var statusVM in Model)
        {
            <tr>
                <td>@statusVM.GuestName</td>
                <td>@statusVM.RoomType</td>
                <td>@statusVM.RoomId</td>
                <td>@statusVM.CheckIn</td>
                <td>@statusVM.CheckOut</td>
                <td>
                    <a class="btn button-primary" asp-controller="RoomStatus"
                       asp-action="ManageRoomStatus" asp-route-statusId="@statusVM.RoomStatusId">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>