@using HotelManagement.Web.Models.Dtos;
@model Pricing

@{
    ViewBag.Title = "Add New Pricing";
    Layout = "_Layout";
}

<div class="card col-md-4">
    <form method="post">
        <div class="card-header">
            <h2>New Pricing</h2>
        </div>
        <div class="card-body">
            <div class="form-floating mb-3">
                <!-- TODO: Convert to select list -->
                <input asp-for="@Model.RoomId" class="form-control" type="number"
                       aria-required="true" placeholder="Enter room number..." />
                <label asp-for="@Model.RoomId">Room Number</label>
                <span asp-validation-for="@Model.RoomId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Date" class="form-control" type="date"
                       value="@DateTime.Now" aria-required="true" placeholder="Enter date..." />
                <label asp-for="@Model.Date">Date</label>
                <span asp-validation-for="@Model.Date" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.NumberOfGuests" class="form-control" type="number"
                       aria-required="true" placeholder="Number of guests..." />
                <label asp-for="@Model.NumberOfGuests">Number of Guests</label>
                <span asp-validation-for="@Model.NumberOfGuests" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Price" class="form-control" type="number"
                       aria-required="true" placeholder="Enter price..." />
                <label asp-for="@Model.Price">Price</label>
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Add Pricing" class="btn button-primary" />
            <a asp-action="Index" class="btn button-secondary">Cancel</a>
        </div>
    </form>
</div>