@using HotelManagement.Web.Models.Dtos;
@model List<Pricing>

@{
    ViewBag.Title = "Pricings";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<a asp-controller="Pricing" class="btn button-primary"
   asp-action="AddPricing">Add New Pricing</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>RoomId</th>
            <th>Date</th>
            <th>Number of Guests</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pricing in Model)
        {
            <tr>
                <td>@pricing.RoomId</td>
                <td>@pricing.Date</td>
                <td>@pricing.NumberOfGuests</td>
                <td>@pricing.Price</td>
                <td>
                    <a class="btn button-primary" asp-controller="Pricing"
                       asp-action="ManagePricing" asp-route-pricingId="@pricing.Id">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>