@using HotelManagement.Web.Models.ViewModels;
@model List<EmployeeViewModel>

@{
    ViewBag.Title = "Employees";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<a asp-asp-controller="Employee" class="btn button-primary"
   asp-action="AddEmployee">Add New Employee</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Hotel Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.Position</td>
                <td>@employee.Email</td>
                <td>@employee.Phone</td>
                <td>@employee.HotelName</td>
                <td>
                    <a class="btn button-primary" asp-controller="Employee"
                       asp-action="ManageEmployee" asp-route-employeeId="@employee.EmployeeId">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>