@using HotelManagement.Web.Models.ViewModels;
@model EmployeeViewModel

@{
    ViewBag.Title = "Manage Employee";
    Layout = "_Layout";
}

<form method="post">
    <div class="card col-md-4">
        <div class="card-header">
            <h2>Manage Employee</h2>
        </div>
        <div class="card-body">
            <div class="form-floating mb-3">
                <input asp-for="@Model.FirstName" class="form-control" type="text"
                       aria-required="true" placeholder="First name..." />
                <label asp-for="@Model.FirstName">First Name</label>
                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.LastName" class="form-control" type="text"
                       aria-required="true" placeholder="Last name..." />
                <label asp-for="@Model.LastName">Last Name</label>
                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Position" class="form-control" type="text"
                       aria-required="true" placeholder="Position..." />
                <label asp-for="@Model.Position">Position</label>
                <span asp-validation-for="@Model.Position" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Email" class="form-control" type="email"
                       aria-required="true" placeholder="Email address..." />
                <label asp-for="@Model.Email">Email Address</label>
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Phone" class="form-control" type="text"
                       aria-required="true" placeholder="Phone number..." />
                <label asp-for="@Model.Phone">Phone</label>
                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
            </div>
            <div class="form-control mb-3">
                <select asp-for="@Model.HotelId" class="form-select" required asp-items="Model.Hotels">
                    <option value="">-- Assign a Hotel --</option>
                </select>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update Employee" class="btn button-primary" />
            <a asp-action="Index" class="btn button-secondary">Cancel</a>
        </div>
    </div>
</form>

