@using Web.Models.ViewModels;
@model RoomStatusViewModel

@{
    ViewBag.Title = "Manage Room Status";
    Layout = "_Layout";
}

<form method="post">
    <div class="card col-md-4">
        <div class="card-header">
            <h2>Manage Room Status</h2>
        </div>
        <div class="card-body">
            <div class="form-floating mb-3">
                <input asp-for="@Model.CheckIn" class="form-control" type="date"
                       aria-required="true" placeholder="Enter check in..." />
                <label asp-for="@Model.CheckIn">Check In</label>
                <span asp-validation-for="@Model.CheckIn" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.CheckOut" class="form-control" type="date"
                       aria-required="true" placeholder="Enter check out..." />
                <label asp-for="@Model.CheckOut">Check Out</label>
                <span asp-validation-for="@Model.CheckOut" class="text-danger"></span>
            </div>
            <div class="form-control mb-3">
                <select asp-for="@Model.RoomId" class="form-select" required asp-items="Model.Rooms">
                    <option value="">-- Select a Room --</option>
                </select>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Manage Room Status" class="btn button-primary" />
            <a asp-action="Index" class="btn button-secondary">Cancel</a>
        </div>
    </div>
</form>