@using HotelManagement.Web.Models.ViewModels;
@model List<ServiceViewModel>

@{
    ViewBag.Title = "Services";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<a asp-controller="Service" class="btn button-primary"
   asp-action="AddService">Add New Service</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Hotel Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.Name</td>
                <td>@service.Price</td>
                <td>@service.HotelName</td>
                <td>
                    <a class="btn button-primary" asp-controller="Service"
                       asp-action="ManageService" asp-route-serviceId="@service.ServiceId">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>