@using HotelManagement.Web.Models.Dtos;
@model Hotel

@{
    ViewBag.Title = "Manage Hotel";
    Layout = "_Layout";
}

<form method="post">
    <div class="card col-md-4">
        <div class="card-header">
            <h2>Manage Hotel</h2>
        </div>
        <div class="card-body">
            <input asp-for="@Model.Id" hidden />
            <div class="form-floating mb-3">
                <input asp-for="@Model.Name" class="form-control" type="text"
                       aria-required="true" placeholder="Hotel name..." />
                <label asp-for="@Model.Name">Name</label>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="@Model.Location" class="form-control" type="text"
                       aria-required="true" placeholder="Hotel location..." />
                <label asp-for="@Model.Location">Location</label>
                <span asp-validation-for="@Model.Location" class="text-danger"></span>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="card-footer">
            <input type="submit" value="Update Hotel" class="btn button-primary" />
            <a asp-action="Index" class="btn button-secondary">Cancel</a>
        </div>
    </div>
</form>